/*------------- Font families--------------- are over here*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abhayalibre/v6/e3tmeuGtX-Co5MNzeAOqinEQfEnX.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNG9hU4-6qj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/aleo/v4/c4mv1nF8G8_swA3J0Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arapey/v9/-W__XJn-UDDA2RCKYNod.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/asapcondensed/v8/pxidypY1o9NHyXh3WvSbGSggdOeMaEw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v25/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v5/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /*------------- Font families--------------- END OVER HERE/*/
  html, body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
  
main{
    box-sizing: border-box;
    position: relative;
    top: 0px;
    margin-top: 120px;
    margin-bottom: 180px;
}

header {
    background-color:wheat;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100px; 
    top: 0;
    font-family: "Nunito", 'Times New Roman', Times, serif;
    font-weight: 800;
}

header img{
    height: 80px;
    top: auto;
    bottom: auto;
    float: right;
    margin: 0;
    padding-right: 35px;
    padding-top: 10px;
    font-family: inherit;
    font-weight: inherit;
}

header h1 {
    float: right;
    color: black;
    font-family: inherit;
    font-weight: inherit;
    padding: 15px;
    top: auto;
    bottom: auto;
    padding-right: 25px;

}

nav{
    display: inline-block;
    margin: 0px;
    padding: 20px;
}

nav li{
    display: inline-block;
    top: auto;
    bottom: auto;
    font-weight: 600;
    width: 140px;
    font-size: 26px;
    font-weight: inherit;
    font-family: inherit;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

section{
    border: 2px solid gray;
    margin: 40px;
    padding-left:40px;
}
section h2{
    text-align: center;
}

.basered{
    background-color: rgba(255, 0, 0, 1);
    width: 150px ;
    text-align: center;
    line-height: 24px;
    padding-bottom: 0.002em;
    padding-top: 0.002em;
}

.basered h3{
    padding: 10px 20px;
}

.redsat{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.redS1{
    background-color: hsl(350, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redS2{
    background-color: hsl(350, 85%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redS3{
    background-color: hsl(350, 70%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redS4{
    background-color: hsl(350, 55%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redS5{
    background-color: hsl(350, 40%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redlig{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.redL1{
    background-color: hsl(350, 100%, 80%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redL2{
    background-color: hsl(350, 100%, 65%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redL3{
    background-color: hsl(350, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redL4{
    background-color: hsl(350, 100%, 35%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redL5{
    background-color: hsl(350, 100%, 20%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redhue{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.redH1{
    background-color: hsl(320, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redH2{
    background-color: hsl(335, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redH3{
    background-color: hsl(350, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redH4{
    background-color: hsl(5, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.redH5{
    background-color: hsl(20, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.baseblue{
    margin-top: 40px;
    background-color: rgba(0, 0, 255, 1);
    width: 150px ;
    text-align: center;
    line-height: 24px;
    padding-bottom: 0.002em;
    padding-top: 0.002em;
}

.baseblue h3{
    padding: 10px 20px;
    color: white;
}


.bluesat{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.blueS1{
    background-color: hsl(220, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueS2{
    background-color: hsl(220, 85%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueS3{
    background-color: hsl(220, 70%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueS4{
    background-color: hsl(220, 55%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueS5{
    background-color: hsl(220, 40%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.bluelig{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.blueL1{
    background-color: hsl(220, 100%, 80%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueL2{
    background-color: hsl(220, 100%, 65%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueL3{
    background-color: hsl(220, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueL4{
    background-color: hsl(220, 100%, 35%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueL5{
    background-color: hsl(220, 100%, 20%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.bluehue{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.blueH1{
    background-color: hsl(190, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueH2{
    background-color: hsl(205, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueH3{
    background-color: hsl(220, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueH4{
    background-color: hsl(235, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.blueH5{
    background-color: hsl(250, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.baseyellow{
    background-color: rgba(255, 255, 0, 1);
    width: 150px ;
    text-align: center;
    line-height: 24px;
    padding-bottom: 0.002em;
    padding-top: 0.002em;
}

.baseyellow h3{
    padding: 10px 20px;
}

.yellowsat{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.yellowS1{
    background-color: hsl(60, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowS2{
    background-color: hsl(60, 85%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowS3{
    background-color: hsl(60, 70%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowS4{
    background-color: hsl(60, 55%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowS5{
    background-color: hsl(60, 40%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowlig{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.yellowL1{
    background-color: hsl(60, 100%, 80%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowL2{
    background-color: hsl(60, 100%, 65%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowL3{
    background-color: hsl(60, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowL4{
    background-color: hsl(60, 100%, 35%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowL5{
    background-color: hsl(60, 100%, 20%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowhue{
    border: 10px solid #e6e6e6;
    height: 6.68em;
    display: flex;
    margin-bottom: 1.25em;
    width: 700px;
}

.yellowH1{
    background-color: hsl(30, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowH2{
    background-color: hsl(45, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowH3{
    background-color: hsl(60, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowH4{
    background-color: hsl(75, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

.yellowH5{
    background-color: hsl(90, 100%, 50%);
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}

footer{
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: wheat;
    width: 100%;
}

footer p{
    text-align: center;
    font-family: "Nunito", 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
}